<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a style="font-weight: bolder;" class="navbar-brand" href="/">Brazilian E-Commerce Olist</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/plotly_dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sales_forecast">Sales Forecasting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sentiment_analysis">Sentiment Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recommendation">Get Recommendation</a>
        </li>
      </ul>
    </div>
  </nav>